.dispensing-drug {
  padding: 20px;
  outline: #ced4da 2px dashed;
  margin-left: 3px;
  margin-top: 20px;
  margin-right: 2px;
}

.used-pod {
  margin-top: 20px;
}

.pod-btn {
  width: 100%;
  color: white;;
  background-color: #6c757d;
}

.dispensing-btn {
  width: 100%;
  color: white;
  background-color: #6c757d;
  margin-top: 31px;
}

.pod-button {

}

.drug-button {
  height: 50px;
}

.submit-btn {
  width: 100%;
  color: white;;
  background-color: #6133b7;
  margin-top: 31px;
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  color: #f0506e;
  border: 1px solid #f0506e;
}

.error {
  color: #f0506e;
}
