<app-dispensing-form></app-dispensing-form>
<div class="row">
  <div class="col-9">
  </div>
  <div class="col-3">
    <button type="button" class="btn submit-btn server-button" #reinitializeButton (click)="reinitialize()">Reinitialize machine</button>
  </div>
</div>
<div class="row text-line">
  <div class="col-8">
  </div>
  <div class="col-4 text-end">
    <small class="error">Reinitialize machine to clear registered prescriptions</small>
  </div>
</div>


<button type="button" data-bs-toggle="modal" data-bs-target="#modalButton" #modalButton hidden>
</button>

<div class="modal fade" id="modalButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{notificationTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{notificationDescription}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
